<p class="text-lg-center font-2">event addition</p>
<div class="d-flex justify-content-center">
 <%= form_with model: event, url: events_path, method: :post, local: true do |form| %>

  <div class="title mt-5 font-2">
    <%= form.label :title %>
    <%= form.text_field :title, size:"50" %>
  </div>

  <div class="time mt-5 font-2">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="time mt-5 font-2">
    <%= form.label :finish_time %>
    <%= form.datetime_select :finish_time %>
  </div>

  <div class="content mt-5 font-2">
    <%= form.label :content %>
    <%= form.text_field :content, size:"50"  %>
  </div>


  <div>
    <% if group == 'false' %>
      <% if current_customer.group.present? %>
        <%= form.check_box(:group_id, {checked: false}, checked_value="#{current_customer.group_id}" ,unchecked_value="") %>
        <%= form.label "グループに共有する" %>
      <% end %>
    <% elsif group.class == Group %>
      <% if group.owner_id == current_customer.id || current_customer.group.present? %>
        <%= form.check_box(:group_id, {checked: false}, checked_value="#{current_customer.group_id}" ,unchecked_value="") %>
        <%= form.label "グループに共有する" %>
      <% end %>
    <% end %>
  </div>


  <div class="submit mt-5">
    <%= form.submit %>
  </div>

<% end %>
</div>