<%= form_with model:@event, url:events_path, method: :post do |form| %>

  <div class="title">
    <%= form.label :title %>
    <%= form.text_field :title %>
  </div>

    <div class="time">
    <%= form.label :start_time %>
    <%= form.datetime_select :start_time %>
  </div>

  <div class="content">
    <%= form.label :content %>
    <%= form.text_field :content %>
  </div> 
  
  <%#= form.check_box(post, :checked={}, checked_value= current_customer.group_id , unchecked_value= current_customer) %>
  <div>
    <%= form.check_box(:group_id, {checked: false}, checked_value="#{current_customer.group_id}" ,unchecked_value="false") %>
    <%= form.label "グループに共有する" %>
  </div>
  
  
  <div class="submit">
    <%= form.submit %>
  </div>

<% end %>