        <table class="table table-lg-responsive">
          <p class ="font-2">会員一覧<p>
        	<thead>
        		<th>会員ID</th>
        		<th>名前</th>
        		<th>フリガナ</th>
        		<th>メールアドレス</th>
        		<th>会員ステータス</th>
        		<th></th>
        	</thead>
        	<tbody>
        		<% @customers.each do |customer| %>
        			<tr>
        				<td><%= customer.id %></td>
        				<td><%= customer.full_name %></td>
        				<td><%= customer.last_name_kana+customer.first_name_kana %></td>
        				<td><%= customer.email %></td>
        				<td>
        					<% if customer.is_deleted? %>
        						<span class="text-active">有効</span>	
        					<% else %>
        						<span class="text-invalid">退会済み</span>
        					<% end %>
        				</td>
        				<td><%= link_to "詳細", edit_admin_customer_path(customer), class: "btn btn-primary" %></td>
        				<td><%= link_to "削除", admin_customer_path(customer), method: :delete, class: "btn btn-danger" %></td>
        			</tr>
        		<% end %>
        	</tbody>
        </table>
        