
     <h5>グループ一覧<h5>
      <table class="table">
          <thead class="thead-dark">
          <thead>
                <tr>
                  <th>グループ名</th>
                  <th>グループ説明</th>
                </tr>
          </thead>
          <tbody>
            <tr>
                 <% @groups.each do |f| %>
                  <td><%= f.name %></td>
                  <td><%= f.introduction %></td>
                      <% if f.owner_id == current_customer.id %>
                       <td><%= link_to 'edit', edit_group_path(f.id), class: "btn btn-sm btn-success" %></td>
                       <td><%= link_to 'destroy', group_path(f.id), method: :delete,class: "btn btn-sm btn-danger" %></td>
                      <% end %>
                      <td><%= link_to 'detail', group_path(f.id), class: "btn btn-sm btn-primary" %>
          </tr>
                   <% end %>
           <%= paginate @groups %>
          </tbody>
          <% if Group.where(owner_id:current_customer.id).present? %>
            すでにグループを登録済みです
          <% else %>
            グループの作成は<%= link_to"こちら", new_group_path %>
          <% end %>
        </table>



