<h2>Group Detail</h2>
      <table class='table table-hover table-inverse'>
        <thead>
          <tr>
            <th>グループ名</th>
            <th>紹介文</th>
            <th>メンバー</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><%= @group.name %></td>
            <td><%= @group.introduction %></td>
            <td>
              <% @group.customers.each do |member| %>
                <%= member.full_name %><br>
              <% end %>
            </td>
          </tr>
            <td>
              <% if @group.owner_id == current_customer.id %>
                <%= link_to '更新', edit_group_path(@group), class: "btn btn-sm btn-success" %>
                <%= link_to '削除', group_path(@group), method: :delete,class: "btn btn-sm btn-danger" %>
                 <%= render partial: 'public/events/form', locals: { event: @event, group: @group} %>
                 <%= render template:"public/events/index" %>
              <% elsif @group.customers.include?(current_customer) %>
                <%= link_to 'Leave this group', group_disjoin_path(@group), method: :delete, class: "btn btn-sm btn-danger" ,data: { confirm: "【確認】グループを退会してもよろしいですか？" } %>
                  <%= render partial: 'public/events/form', locals: { event: @event, group: @group} %>
                  <%= render template:"public/events/index" %>
                 <% else %>
            <%= form_with scope: "group", url:group_join_path(@group) do |form| %>
                 <%= form.password_field :password %>
                <%= form.button 'Join this group', class: "btn btn-sm btn-success",data: { confirm: "【確認】グループに入会しますか？" } %>
              <% end %>
            <% end %>
              
            </td>
           </tr>
          </tbody>