<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyFamily</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Kaushan+Script" rel="stylesheet">
    
          <body class="d-flex flex-column vh-100">
            <header class="shadow-sm">
              <nav class="navbar navbar-expand-lg navbar-light">
                <div class="container">
                  <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav ml-auto">
                      <% if admin_signed_in? %>
                          <li><i class="fas fa-sign-out-alt"></i><%= link_to 'log out', destroy_admin_session_path, method: :delete %></li>
                          <li><i class= "fas fa-users ml-4"></i><%= link_to '会員一覧', admin_customers_path %></li>
                        </ul>
                      <% elsif customer_signed_in? %>
                       <li><i class= "fas fa-user-alt ml-4"></i><%= link_to 'my page', root_path %></li>
                         <% if current_customer.group.present? %>
                           <li><i class= "fas fa-sitemap ml-4"></i><%= link_to 'group', group_path(current_customer.group.id) %></li>
                         <% else %>
                           <li><i class= "fas fa-sitemap ml-4"></i><%= link_to 'group', groups_path %></li>
                         <% end %>
                       <li><i class= "fas fa-marker ml-4"></i><%= link_to 'contacts', contacts_index_path %></li>
                       <li><i class="fas fa-sign-out-alt ml-4"></i><%= link_to 'log out', destroy_customer_session_path, method: :delete %></li>
                       <%= render partial:"searches/search" %>
                      <% else %>
                       <li><i class="fas fa-sign-out-alt ml-4"></i><%= link_to 'sign up', new_customer_registration_path %></li>
                       <li><i class="fas fa-sign-in-alt ml-4"></i><%= link_to 'sign in', new_customer_session_path %></li>
                       <li><i class="fas fa-laugh-beam ml-4"></i><%= link_to 'about', about_path %></li>
                      <% end %>
                    </ul>
                  </div>
                </div>
              </nav>
            </header>
          </head>

  <body>
    <%= customer_signed_in?.inspect if Rails.env.development? %>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
