<!DOCTYPE html>
<html>
  <head>
    <title>EnjoyFamily</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <ul class="flex">
      <li><i class="fas fa-sign-out-alt"></i><%= link_to 'ログアウト', destroy_customer_session_path, method: :delete %></li>
    </ul>
     <%= render partial:"searches/search" %>
     
  </head>

  <body>
    <%= pp customer_signed_in? %>
    <%= yield %>
  </body>
</html>
